.container {
    max-width: 1187px;
}


span.badge {
    border-radius: 50%;
}
#navigation .nav.navbar-nav li {
    margin: 0 0 0 10px;
    display: inline-block;
    position: relative;
}
#navigation .nav.navbar-nav {
    float: left;
    width: 100%;
    display: inline-block;
}
div#navigation {
    float: right;
	-webkit-transition-duration: .3s;
	margin-top: 34px;
    margin-bottom: 9px;
}
#navigation .nav.navbar-nav {
    float: left;
	width: 100%;
	display: inline-block;
}
button#menu_slide {
    display: none;
}
.row {
    width: 100%;
    margin: 0;
}
.header_cart .dropdown-menu {
    left: -265px;
}
.demo_changer {
    height: 40px;
}
.breadcrumb {
    display: unset;
}
.breadcrumb>li {
    margin: 0 13px;
    position: relative;
    display: inline-block;
}
.breadcrumb>li+li:before {
    left: -15px;
    position: absolute;
}
.btn, input[type=submit] {
    padding: 15px 45px;
}
.text-right {
    text-align: end;
}
.footer-address .col-sm-4 {
    position: relative;
}
.footer_bottom {
    position: relative;
}

.section-header.heading_style4 h2 {
    font-size: 45px;
}
.choose-reason figure {
    margin-bottom: 0;
}
.construction-footer-bg {
    position: relative;
}
.how-we-work .nav-tabs>li>a {
    padding: 12px 15px;
}
ul.pager li {
    list-style: none;
}
li.previous {
    float: left;
}
li.next {
    float: right;
}
ul.pager {
    padding: 0;
}
.forgot-pass div#navigation {
    margin: 6px 0;
}
ul.sub-menu {
    margin-top: 20px;
}
.nav-tabs a.active {
    background: #3f73d1;
    border: 1px solid #3f73d1 !important;
	color: #fff !important;
}
.product_item.text-center {
    height: 450px;
}
.restro-footer-bg {
    position: relative;
}
.form-control {
    color: #53757d !important;
}
.forgot-pass ul.sub-menu {
    margin-top: 15px;
}
.portfloio ul.nav.navbar-nav {
    margin-top: -24px;
}
.portfloio a.open-port-nav {
    margin-top: -21px;
}
.portfolio_info h5 {
    font-size: 23px;
}
.pro a.active {
    background: #000 !important;
    border-color: #000 !important;
}
.pro .tab-content {
    margin-top: 12px;
}

.panel.panel-default {
    border: 1px solid #9e9e9e;
    background: #fafafa;
    padding-top: 10px;
}
.modal-dialog {
    max-width: 100%;
    top: 46%;
}
div#exampleModal {
    z-index: 9999;
}
.modal-content {
    background: transparent;
    border: none;
}
body.portfloio ul.nav.navbar-nav {
    margin-top: -3px;
}


@media (min-width: 767px) {
div#navigation {
    display: block;
}

}

@media only screen and (max-width: 479px) {
html {
    overflow-x: hidden;
}
header#header .col-md-7 {
    width: 100%;
    left: 0px;
    background: #3f73d1;
    padding-left: 0;
	padding-right: 20px;
}
.show {
    height: 300px;
    overflow: scroll;
}
button#menu_slide {
    display: block;
    padding: 0px 14px;
    border: 1px solid #3f73d1;
    float: right;
    font-size: 22px;
    background: transparent;
    border-radius: 5px;
}
#header .container {
    padding: 0;
}

div#navigation {
    margin-top: 10px;
    margin-bottom: 10px;
	background: #3f73d1;
}
#navigation .nav.navbar-nav li {
    padding: 8px 0;
}
nav.navbar.navbar-default.nav-stacked.affix-top {
    height: 100px;
}
.intro-video {
    padding-top: 110px;
    padding-bottom: 20px;
}
.popin #header.sticky {
    height: 111px;
    background: transparent;
}
.popin #header {
    background: transparent;
	border-bottom: none;
}
.artist_content {
    position: relative;
}
.progress_list li {
    position: relative;
}
ul.social_group_style3.text-right {
    text-align: center;
}
.popin #header.sticky {
    height: 111px;
    background: #000;
}
.header_cart .dropdown-menu {
    left: 0;
}
.portfloio nav.navbar.navbar-default.nav-stacked.affix-top {
    padding: 0 10px;
}
.portfloio .navbar-header {
    width: 100%;
    position: relative;
}

.portfloio .search_cart_panel {
    padding-right: 0;
    position: absolute;
    right: 53px;
}
.portfloio .dropdown.header_cart {
    left: -45px;
}
.product_tab .nav-tabs>li>a {
    float: left;
	width: 100%;
}
.product_tab .nav-tabs>li {
    width: 100%;
}
div#exampleModal {
    height: inherit;
}
/*.header_cart .dropdown-menu {
    left: -212px;
    min-width: 350px;
}*/

}